fastapi
uvicorn
python-dotenv
langchain
langchain-community
langchain-core
langchain-groq
faiss-cpu
rank_bm25
pypdf
playwright
beautifulsoup4
lxml
tqdm
httpx
livekit>=1.0.0
livekit-api>=1.0.0
livekit-agents>=1.2.0
langchain-openai
openai